h1,
h2,
h3,
h4, 
h5,
h6,
title {
    font-family: 'Playball', sans-serif;
}
body {
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    font-size: 1.5em;
}
nav {
    font-family: 'Kurale', sans-serif;
}
.feature {
    tezt-align: center;
}