{% extends 'base.html' %}
{% block title %}All Ingredients{% endblock %}

{% block body %}
    <h1>All Ingredients</h1>
    <ul>
        {% for ingredient in see_ingredients %}
            <li>
                <p>
                    <a href="/recipes/{{ recipe.recipe_id }}">{{ ingredient.ingredient_name }}</a>
                    <!-- ^^^need to create route to page that includes recipes that ingredient is in; link will be here^^^  -->
                </p>
            </li>   
        {% endfor %}
    </ul>
{% endblock body %}