{% extends 'base.html' %}
{% block title %}All Recipes{% endblock %}

{% block body %}
<ul>
    
</ul>
<div class="d-flex justify-content-center"><h1><u>All Recipes</u></h1></div>
<ul>
    
</ul>
<div class="d-flex justify-content-around">
    <ul>
        {% for recipe in see_recipes %}
            <li>
                <p>
                    <a href="/recipes/{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</a>
                </p>
            </li>   
        {% endfor %}
    </ul>
</div>
{% endblock body %}