{% extends 'base.html' %}
{% block title %}All Tags{% endblock %}

{% block body %}
<ul></ul>
<div class="d-flex justify-content-center">
    <h1><u>All Tags</u></h1>
</div>
<div class="d-flex justify-content-center">
    <h4><i>Click a tag to see recipes with that tag</i></h4>
</div>
    <ul></ul>
    <div class="d-flex justify-content-around">
    <ul>
        {% for tag in see_tags %}
            <li>
                <p>
                    <a href="/tags/{{ tag.tag_id }}">{{ tag.tag_name }}</a>
                </p>
            </li>   
        {% endfor %}
    </ul>
    </div>
{% endblock body %}