{% extends 'base.html' %}
{% block title %}All Ingredients{% endblock %}

{% block body %}
    <h1><u>All Ingredients</u></h1>
    <h3><i>Click an ingredient name to see all recipes that contain that ingredient</i></h3>
    <ul>
        {% for ingredient in see_ingredients %}
            <li>
                <p>
                    <a href="/ingredients/{{ ingredient.ingredient_id }}">{{ ingredient.ingredient_name }}</a>
                </p>
            </li>   
        {% endfor %}
    </ul>
{% endblock body %}