{% extends 'base.html' %}
{% block title %}All Ingredients{% endblock %}

{% block body %}
<ul></ul>
<div class="d-flex justify-content-center">
    <h1><u>All Ingredients</u></h1>
</div>
<div class="d-flex justify-content-center">
    <h4><i>Click an ingredient to see recipes containing that ingredient</i></h4>
</div>
<ul></ul>
<div class="d-flex justify-content-center">
    <ul>
        {% for ingredient in see_ingredients %}
            <li>
                <p>
                    <a href="/ingredients/{{ ingredient.ingredient_id }}">{{ ingredient.ingredient_name }}</a>
                </p>
            </li>   
        {% endfor %}
    </ul>
</div>
{% endblock body %}