{% extends 'base.html' %}
{% block title %}Create a Recipe{% endblock %}

{% block body %}
  <h1>Create a Recipe</h1>

  <form action="/create_recipe" method="GET">
    <p>
      Recipe Name: <input type="text" name="recipe_name" placeholder="ex: Fruit Salad" required>*
    </p>

    <p>
      From the Kitchen of: <input type="text" name="originator" placeholder="ex: Grandma Bonnell" required>*
    </p>

    <p>
      Ingredient Names: <input type="text" name="ingredients" placeholder="ex: Starfruit" required>*
    </p>

    <p>
      <div>Directions: * </div>
      <textarea name="directions" rows="10" cols="80" wrap="hard" placeholder="ex: 1. Wash and dry all produce..." required></textarea>*
      <!-- ^^^not sure what to do to make the ta an input form^^^ -->
    </p>

    <p>
      <div>Notes:</div>
      <textarea name="notes" rows="5" cols="80" wrap="hard" placeholder="ex: Some people toss fruit in poppy seed dressing or honey and yogurt, but I like mine plain." required></textarea>
    </p>

    <p>
      Tag(s): <input type="text" name="tags" placeholder="ex: side dish">
    </p>

    <p>
        Rating: <input type="number" name="rating" min="1" max="5" placeholder="ex: 5"> /5     (optional, must be a number from 1 to 5)
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <div>* denotes a required field</div>
  ***Please capitalize all recipe names and ingredient names***

{% endblock %}