{% extends 'base.html' %}
{% block title %}Create a Recipe{% endblock %}

{% block body %}
  <h1>Create a Recipe</h1>

  <form action="/create_recipe" method="GET">
    <p>
      <b>Recipe Name:</b> <input type="text" name="recipe_name" placeholder="ex: Fruit Salad" required>*
    </p>

    <p>
      <b>From the Kitchen of:</b> <input type="text" name="originator" placeholder="ex: Grandma Bonnell" required>*
    </p>

    <p>
      <div><b>Ingredient Names:</b> *
      Capitalize the words of all ingredients and separate ingredients with commas
    </div>
      <textarea name="ingredients" rows="5" cols="80" placeholder="ex: Starfruit, Strawberries, Oranges, Watermelon..." required></textarea>

    </p>

    <p>
      <div><b>Directions:</b> * 
      Include ingredient measurements here, too.</div>
      <textarea name="directions" rows="10" cols="80" wrap="hard" placeholder="ex:   Ingredients: 
      - 1 Starfruit
      - 10 Strawberries
      - 1 Orange
      - 1.5 cups Watermelon chunks...
      Directions:
        1. Wash and dry all produce..." required></textarea>*
      <!-- ^^^not sure what to do to make the ta an input form^^^ -->
    </p>

    <p>
      <div><b>Notes:</b></div>
      <textarea name="notes" rows="5" cols="80" wrap="hard" placeholder="ex: Some people toss fruit in poppy seed dressing or honey and yogurt, but I like mine plain." required></textarea>
    </p>

    <p>
      <div><b>Tag(s):</b> Use all lowercase letters for the words of all tags and separate tags with commas</div> 
      <textarea name="tags" rows="5" cols = "80" placeholder="ex: side dish, summer, favorite..."></textarea>
    </p>

    <p>
        <b>Rating:</b> <input type="number" name="rating" min="1" max="5" placeholder="ex: 5"> /5     (optional, must be a number from 1 to 5)
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <div>* denotes a required field</div>
  ***Please capitalize all recipe names and ingredient names***

{% endblock %}