{% extends 'base.html' %}
{% block title %}Edit Recipe{% endblock %}

{% block body %}
  <h1>Edit Recipe</h1>

  <form action="/edit_recipe/{{ recipe.recipe_id }}" method="POST">
    <p>
      <b>Recipe Name:</b> <input type="text" name="recipe_name" value="{{ recipe.recipe_name }}" required>*
    </p>

    <p>
      <b>From the Kitchen of:</b> <input type="text" name="originator" value="{{ recipe.originator }}" required>*
    </p>

    <p>
      <div><b>Ingredient Names:</b> *
      Capitalize the words of all ingredients and separate ingredients with commas
    </div>
      <textarea name="ingredients" rows="5" cols="80" required>
{% for ingredient in recipe.ingredients %}{{ ingredient.ingredient_name }}, {% endfor %}</textarea>
    </p>

    <p>
      <div><b>Directions:</b> * 
      Include ingredient measurements here, too.</div>
      <textarea name="directions" rows="10" cols="80" wrap="hard" required>
{{ recipe.directions }}
      </textarea>*
    </p>

    <p>
      <div><b>Notes:</b></div>
      <textarea name="notes" rows="5" cols="80" wrap="hard">{% for note in recipe.notes %}{{ note.note }}{% endfor %}</textarea>
    </p>

    <p>
      <div><b>Tag(s):</b> Use all lowercase letters for the words of all tags and separate tags with commas</div> 
      <textarea name="tags" rows="5" cols = "80">{% for tag in recipe.tags %}{{ tag.tag_name }}, {% endfor %}</textarea>
    </p>

    <p>
        <b>Rating:</b> <input type="number" name="rating" min="1" max="5" value="{% for rating in recipe.rating %}{{ rating.rating }}{% endfor %}"> /5     (optional, must be a number from 1 to 5)
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <div>* denotes a required field</div>
  ***Please capitalize all recipe names and ingredient names***

{% endblock %}