{% extends 'base.html' %}
{% block title %}Recipes Including {{ ingredient.ingredient_name }}{% endblock %}

{% block body %}
<ul></ul>
<div class="d-flex justify-content-around">
    <h1><u>Recipes Including {{ ingredient.ingredient_name }}</u></h1>
</div>
<div class="d-flex justify-content-around">
    <ul>
        {% for recipe in see_recipes %}
            <li>
                <p>
                    <a href="/recipes/{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</a> 
                    <!-- ^^^ links to recipe detail pages ^^^ -->
                </p>
            </li>   
        {% endfor %}
    </ul>
</div>
{% endblock body %}
