{% extends 'base.html' %}

{% block title %}{{ recipe.recipe_name }} - Details{% endblock %}

{% block body %}
<h1>{{ recipe.recipe_name }}</h1>

<p>
  {{ recipe.ingredients }}
</p>
<p>  
  {{ recipe.directions }}
</p>
{% for note in recipe.notes %}
<p> 
  {{ recipe.notes }} 
</p>   
{% endfor %}
{% for rate in recipe.rating %}
<p>
  {{ recipe.rating }}
</p>
{% endfor %}
<p>
  {{ recipe.originator }}
</p>
{% if recipe.tags %}
<p>  
  {{ recipe.tags }}
</p>
{% endif %}

<!-- <img src=" movie.poster_path "> -->
{% endblock %}