{% extends 'base.html' %}

{% block title %}{{ recipe.recipe_name }} - Details{% endblock %}

{% block body %}
<h1>{{ recipe.recipe_name }}</h1>

<p>
  <h3>Ingredients:</h3>
  {% for ingredient in recipe.ingredients %}
  <div>
  <li>{{ ingredient.ingredient_name }}</li>
  </div>
  {% endfor %}
</p>
<p>  
  <h3>Directions:</h3>
  {{ recipe.directions }}
</p>
{% for note in recipe.notes %}
<p> 
  <b>Notes:</b> {{ note.note }} 
</p>   
{% endfor %}
{% for rating in recipe.rating %}
<p>
  <b>Rating:</b> {{ rating.rating }}/5
</p>
{% endfor %}
<p>
  <b>From the Kitchen of:</b> {{ recipe.originator }}
</p>
{% if recipe.tags %}
<p>  
  <b>Tag(s):</b>
  {% for tag in recipe.tags %}
  <div>
  <li>{{ tag.tag_name }}</li>
  </div>
  <!-- ^^^make links to recipes with same tags^^^ -->
  {% endfor %}
</p>
{% endif %}
<div><h6>This is recipe #{{ recipe.recipe_id }}</h6></div>

{% endblock %}
<!-- need an edit recipe button and maybe a delete button. Everything should be edit-able -->