{% extends 'base.html' %}

{% block title %}{{ recipe.recipe_name }} - Details{% endblock %}

{% block body %}
<ul></ul>
<div class="d-flex justify-content-center">
<h1>{{ recipe.recipe_name }}</h1>
</div>

<p>
  <h3>Ingredients:</h3>
  {% for ingredient in recipe.ingredients %}
  <div>
  <li>{{ ingredient.ingredient_name }}</li>
  </div>
  {% endfor %}
</p>
<p>  
  <h3>Directions:</h3>
  {{ recipe.directions }}
</p>
{% for note in recipe.notes %}
<p> 
  <h4>Notes:</h4> {{ note.note }} 
</p>   
{% endfor %}
{% for rating in recipe.rating %}
<p>
  <h4>Rating:</h4>{{ rating.rating }}/5
</p>
{% endfor %}
<p>
  <h4>From the Kitchen of:</h4> {{ recipe.originator }}
</p>
{% if recipe.tags %}
<p>  
  <h4>Tag(s):</h4>
  {% for tag in recipe.tags %}
  <div>
  <li>{{ tag.tag_name }}</li>
  </div>
  <!-- ^^^make links to recipes with same tags^^^ -->
  {% endfor %}
</p>
{% endif %}

<form>
  <button type="button"><a href="/edit_recipe/{{recipe.recipe_id}}">Edit Recipe</a></button>
</form>

<div><h6>This is recipe #{{ recipe.recipe_id }}</h6></div>

{% endblock %}
<!-- need an edit recipe button and maybe a delete button. Everything should be edit-able -->