{% extends 'base.html' %}
{% block title %}Search for Recipes Including Ingredients{% endblock %}

{% block body %}
  <h1>Search for Recipes Including Certain Ingredients</h1>

  <form action="/search_for_recipes_with_ing" method="GET">

    <h2>Enter Ingredients You Want to Include:</h2>
    <h3>Please capitalize ingredient words and separate ingredients with commas</h3>
    <p>
      Ingredients: <input type="text" name="ingredients" required>
    </p>

<!-- Ideally the results should also include a list of what ingredients were matched -->

    <p>
      <input type="submit">
    </p>

  </form>

{% endblock %}